<div class="sidebar">
  <!-- Sidebar user panel (optional) -->
  <div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
      <img
        src="/img/team-4.jpg"
        class="img-circle elevation-2"
        alt="User Image"
      />
    </div>
    <div class="info">
      <a href="#" class="d-block"> <%= usuario.nome %> </a>
    </div>
  </div>
  <!-- Sidebar Menu -->
  <nav class="mt-2">
    <ul
      class="nav nav-pills nav-sidebar flex-column"
      data-widget="treeview"
      role="menu"
      data-accordion="false"
    >
      <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
      <% if(usuario.tipo == 'professor') {%>
      <li class="nav-item">
        <a href="/seeds/professor" class="nav-link">
          <i class="fas fa-home"></i>
          <p>Início</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/seeds/professor/series" class="nav-link">
          <i class="fas fa-book"></i>
          <p>Series</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/seeds/professor/alunos" class="nav-link">
          <i class="fas fa-user"></i>
          <p>Alunos</p>
        </a>
      </li>

      <%} else { %> 
      <li class="nav-item">
        <a href="/seeds/aluno" class="nav-link">
          <i class="fas fa-home"></i>
          <p>Início</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/seeds/aluno/atividades" class="nav-link">
          <i class="fas fa-book"></i>
          <p>Atividades</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="fas fa-user"></i>
          <p>Professores</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="fas fa-user"></i>
          <p>Notas</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="fas fa-user"></i>
          <p>Grade Curricular</p>
        </a>
      </li>

      <% }%>
      <li class="nav-item">
        <a href="/login" class="nav-link">
          <i class="fas fa-door-open"></i>
          <p>Sair</p>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.sidebar-menu -->
</div>
