<!-- Header Start -->
<div class="container-fluid bg-primary mb-5">
  <div
    class="d-flex flex-column align-items-center justify-content-center"
    style="min-height: 400px"
  >
    <h3 class="display-3 font-weight-bold text-white">Ensino</h3>
    <div class="d-inline-flex text-white">
      <p class="m-0"><a class="text-white" href="/">Home</a></p>
      <p class="m-0 px-2">/</p>
      <p class="m-0">Ensinos</p>
    </div>
  </div>
</div>
<!-- Header End -->

<!-- Class Start -->
<div class="container-fluid pt-5">
  <div class="container mt-5">
    <div class="text-center pb-2">
      <p class="section-title px-5">
        <span class="px-2" id="ensino">Nossa prática</span>
      </p>
      <h1 class="mb-4">Ensinos</h1>
    </div>
    <div class="row justify-content-center">
      <!-- Centraliza os cartões horizontalmente -->
      <div class="col-lg-4 mb-5" id="fundamental1">
        <div class="card border-0 bg-light shadow-sm pb-2">
          <img class="card-img-top mb-2" src="img/class-1.jpg" alt="" />
          <div class="card-body text-center">
            <h4 class="card-title">Ensino Fundamental I</h4>
            <p class="card-text">
              O ensino fundamental II é fundamental para o desenvolvimento das
              habilidades básicas de leitura, escrita e matemática, além de
              estimular o conhecimento em diversas áreas, promovendo uma
              formação integral e preparando os alunos para os próximos desafios
              educacionais.
            </p>
          </div>
          <div class="card-footer bg-transparent py-4 px-5">
            <div class="row border-bottom">
              <div class="col-6">
                <strong>Matérias</strong>
              </div>
            </div>

            <div class="row border-bottom">
              <div class="col-6 py-1">Arte</div>
            </div>
            <div class="row"></div>
            <div class="row border-bottom">
              <div class="col-6 py-1">Ciências</div>
            </div>

            <div class="row"></div>
            <div class="row border-bottom">
              <div class="col-10 py-1">Educação Física</div>
            </div>

            <div class="row"></div>
            <div class="row border-bottom">
              <div class="col-6 py-1">Geografia</div>
            </div>

            <div class="row"></div>
            <div class="row border-bottom">
              <div class="col-6 py-1">História</div>
            </div>

            <div class="row"></div>
            <div class="row border-bottom">
              <div class="col-10 py-1">Língua Portuguesa</div>
            </div>
            <div class="row"></div>
            <div class="row border-bottom">
              <div class="col-6 py-1">Matemática</div>
            </div>
          </div>

          <div class="card-footer bg-transparent py-4 px-5">
            <div class="row border-bottom">
              <div class="col-6 py-1 border-right">
                <strong>Idade</strong>
              </div>
              <div class="col-6 py-1">6 - 10 Anos</div>
            </div>

            <div class="row border-bottom">
              <div class="col-6 py-1 border-right">
                <strong>Horários</strong>
              </div>
              <div class="col-6 py-1">07:00 - 14:00</div>
            </div>
            <div class="row"></div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-5" id="fundamental2">
        <div class="card border-0 bg-light shadow-sm pb-2">
          <img class="card-img-top mb-2" src="img/class-4.jpg" alt="" />
          <div class="card-body text-center">
            <h4 class="card-title">Ensino Fundamental II</h4>
            <p class="card-text">
              O ensino fundamental II é uma etapa importante para o
              aprofundamento das habilidades de leitura, escrita e matemática,
              além de expandir o conhecimento dos alunos em várias áreas,
              incluindo o aprendizado de idiomas estrangeiros, como inglês e
              espanhol, preparando-os para os desafios acadêmicos e para a
              compreensão do mundo globalizado.
            </p>
          </div>
          <div class="card-footer bg-transparent py-4 px-5">
            <div class="row border-bottom">
              <div class="col-6">
                <strong>Matérias</strong>
              </div>
            </div>

            <div class="row border-bottom">
              <div class="col-6 py-1">Arte</div>
            </div>
            <div class="row"></div>
            <div class="row border-bottom">
              <div class="col-6 py-1">Ciências</div>
            </div>

            <div class="row"></div>
            <div class="row border-bottom">
              <div class="col-10 py-1">Educação Física</div>
            </div>

            <div class="row"></div>
            <div class="row border-bottom">
              <div class="col-6 py-1">Geografia</div>
            </div>

            <div class="row"></div>
            <div class="row border-bottom">
              <div class="col-6 py-1">História</div>
            </div>

            <div class="row"></div>
            <div class="row border-bottom">
              <div class="col-10 py-1">Língua Portuguesa</div>
            </div>
            <div class="row"></div>
            <div class="row border-bottom">
              <div class="col-6 py-1">Matemática</div>
            </div>
            <div class="row"></div>
            <div class="row border-bottom">
              <div class="col-6 py-1">Inglês</div>
            </div>
            <div class="row"></div>
            <div class="row border-bottom">
              <div class="col-6 py-1">Espanhol</div>
            </div>
          </div>

          <div class="card-footer bg-transparent py-4 px-5">
            <div class="row border-bottom">
              <div class="col-6 py-1 border-right">
                <strong>Idade</strong>
              </div>
              <div class="col-6 py-1">11 - 14 Anos</div>
            </div>

            <div class="row border-bottom">
              <div class="col-6 py-1 border-right">
                <strong>Horários</strong>
              </div>
              <div class="col-6 py-1">07:00 - 16:00</div>
            </div>
            <div class="row"></div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-5">
        <div class="card border-0 bg-light shadow-sm pb-2">
          <img class="card-img-top mb-2" src="img/ensinomedio.jpg" alt="" />
          <div class="card-body text-center">
            <h4 class="card-title">Ensino Médio</h4>
            <p class="card-text">
              O ensino médio é uma etapa de aprofundamento, onde os alunos
              desenvolvem competências em língua portuguesa, matemática,
              ciências, artes, e idiomas estrangeiros. A formação abrange também
              filosofia, sociologia, geografia e história, além de preparar para
              os desafios da sociedade moderna por meio da educação física e do
              uso das mídias, formando cidadãos críticos e preparados para o
              futuro.
            </p>
          </div>
          <div class="card-footer bg-transparent py-4 px-5">
            <div class="row border-bottom">
              <div class="col-6">
                <strong>Matérias</strong>
              </div>
            </div>

            <div class="row border-bottom">
              <div class="col-10 py-1">Língua Portuguesa</div>
            </div>
            <div class="row"></div>

            <div class="row border-bottom">
              <div class="col-6 py-1">Matemática</div>
            </div>
            <div class="row"></div>

            <div class="row border-bottom">
              <div class="col-6 py-1">Biologia</div>
            </div>
            <div class="row"></div>

            <div class="row border-bottom">
              <div class="col-6 py-1">Geografia</div>
            </div>
            <div class="row"></div>

            <div class="row border-bottom">
              <div class="col-6 py-1">Física</div>
            </div>
            <div class="row"></div>

            <div class="row border-bottom">
              <div class="col-6 py-1">Inglês</div>
            </div>
            <div class="row"></div>

            <div class="row border-bottom">
              <div class="col-6 py-1">Redação</div>
            </div>
            <div class="row"></div>

            <div class="row border-bottom">
              <div class="col-6 py-1">Arte</div>
            </div>
            <div class="row"></div>

            <div class="row border-bottom">
              <div class="col-6 py-1">Química</div>
            </div>
            <div class="row"></div>

            <div class="row border-bottom">
              <div class="col-6 py-1">História</div>
            </div>
            <div class="row"></div>

            <div class="row border-bottom">
              <div class="col-6 py-1">Filosofia</div>
            </div>
            <div class="row"></div>

            <div class="row border-bottom">
              <div class="col-6 py-1">Sociologia</div>
            </div>
            <div class="row"></div>

            <div class="row border-bottom">
              <div class="col-6 py-1">Mídias</div>
            </div>
            <div class="row"></div>

            <div class="row border-bottom">
              <div class="col-10 py-1">Educação Física</div>
            </div>
            <div class="row"></div>

            <div class="row border-bottom">
              <div class="col-6 py-1">Espanhol</div>
            </div>
            <div class="row"></div>
          </div>
          <div class="card-footer bg-transparent py-4 px-5">
            <div class="row border-bottom">
              <div class="col-6 py-1 border-right">
                <strong>Idade</strong>
              </div>
              <div class="col-6 py-1">15 - 17 Anos</div>
            </div>

            <div class="row border-bottom">
              <div class="col-6 py-1 border-right">
                <strong>Horários</strong>
              </div>
              <div class="col-6 py-1">07:00 - 14:00</div>
            </div>
            <div class="row"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Class End -->

<!-- Registration Start -->
<div class="container-fluid py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7 mb-5 mb-lg-0">
        <p class="section-title pr-5">
          <span class="pr-2" id="saiba">Escolha sua turma</span>
        </p>
        <h1 class="mb-4">Conheça mais sobre os tipos de ensino</h1>
        <p>
          Estamos prestes a enviar um e-mail detalhado sobre as opções de ensino
          fundamental e médio para seu filho, ajudando você a escolher o melhor
          caminho para a formação dele. Fique atento para receber informações
          que podem fazer toda a diferença na educação do seu filho! Você irá
          receber informações como:
        </p>
        <ul class="list-inline m-0">
          <li class="py-2">
            <i class="fa fa-check text-success mr-3"></i>Como funciona a
            inscrição para o ensino?
          </li>
          <li class="py-2">
            <i class="fa fa-check text-success mr-3"></i>Qual ensino meu filho
            se encaixa?
          </li>
          <li class="py-2">
            <i class="fa fa-check text-success mr-3"></i>Horários de aulas e
            disciplinas.
          </li>
        </ul>
      </div>
      <div class="col-lg-5">
        <div class="card border-0">
          <div class="card-header bg-secondary text-center p-4">
            <h1 class="text-white m-0">Escolha o Ensino</h1>
          </div>
          <div class="card-body rounded-bottom bg-primary p-5">
            <form>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control border-0 p-4"
                  placeholder="Seu nome"
                  required="required"
                />
              </div>
              <div class="form-group">
                <input
                  type="email"
                  class="form-control border-0 p-4"
                  placeholder="Seu Email"
                  required="required"
                />
              </div>
              <div class="form-group">
                <select
                  class="custom-select border-0 px-4"
                  style="height: 47px"
                >
                  <option value="" disabled selected>Selecione a opção</option>
                  <option value="1">Ensino fundamental I</option>
                  <option value="2">Ensino fundamental II</option>
                  <option value="3">Ensino médio</option>
                </select>
              </div>
              <div>
                <button
                  class="btn btn-secondary btn-block border-0 py-3"
                  type="submit"
                >
                  Entre em contato
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Registration End -->
