<!-- Header Start -->
<div class="container-fluid bg-primary px-0 px-md-5 mb-5">
  <div class="row align-items-center px-3">
    <div class="col-lg-6 text-center text-lg-left">
      <h1 class="display-3 font-weight-bold text-white">
        Bem-vindo à<br />Sementes do Futuro
      </h1>
      <p class="text-white mb-4">
        Na escola Sementes do Futuro, acreditamos que cada criança e adolescente
        é uma semente com potencial infinito para florescer. Nossa missão é
        proporcionar um ambiente acolhedor e estimulante, onde os pequenos
        possam aprender, crescer e desenvolver habilidades para um futuro
        brilhante.
      </p>
      <a href="/contato" class="btn btn-secondary mt-1 py-3 px-5"
        >Entre em contato</a
      >
    </div>
    <div class="col-lg-6 text-center text-lg-right">
      <img class="img-fluid mt-5" src="img/estudando.png" alt="" />
    </div>
  </div>
</div>
<!-- Header End -->

<!-- About Start -->
<div class="container-fluid py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <img
          class="img-fluid rounded mb-5 mb-lg-0"
          src="img/alunos_bancada.jpg"
          alt="professora brincando com crianças"
        />
      </div>
      <div class="col-lg-7">
        <p class="section-title pr-5">
          <span class="pr-2">Leia sobre nós</span>
        </p>
        <h1 class="mb-4">A melhor escola para o desenvolvimento</h1>
        <p>
          A escola é excelente porque oferece um ambiente estimulante e seguro,
          promovendo o desenvolvimento integral das crianças através de
          atividades educativas e enriquecedoras.
        </p>
        <a href="/sobre" class="btn btn-primary mt-2 py-2 px-4">Saiba mais</a>
      </div>
    </div>
  </div>
</div>
<!-- About End -->

<!-- Class Start -->
<div class="container-fluid pt-5">
  <div class="container mt-5">
    <div class="text-center pb-2">
      <p class="section-title px-5">
        <span class="px-2" id="ensino">Ensinos</span>
      </p>
      <h1 class="mb-4">Nossa prática</h1>
    </div>
    <div class="row justify-content-center">
      <!-- Centraliza os cartões horizontalmente -->
      <div class="col-lg-4 mb-5">
        <div class="card border-0 bg-light shadow-sm pb-2">
          <img class="card-img-top mb-2" src="img/class-1.jpg" alt="" />
          <div class="card-body text-center">
            <h4 class="card-title">Ensino Fundamental</h4>
            <p class="card-text">
              O ensino fundamental é uma etapa crucial na formação acadêmica das
              crianças, com foco no desenvolvimento das habilidades básicas de
              leitura, escrita e matemática.
            </p>
          </div>

          <a href="/ensino" class="btn btn-primary px-4 mx-auto mb-4 d-block"
            >Saiba mais</a
          >
          <!-- Adicionei d-block para garantir que o botão fique centralizado -->
        </div>
      </div>

      <div class="col-lg-4 mb-5">
        <div class="card border-0 bg-light shadow-sm pb-2">
          <img class="card-img-top mb-2" src="img/ensinomedio.jpg" alt="" />
          <div class="card-body text-center">
            <h4 class="card-title">Ensino Médio</h4>
            <p class="card-text">
              O ensino médio é a etapa final da educação básica, preparando
              jovens para o mercado de trabalho ou para o ensino superior.
            </p>
          </div>

          <a href="/ensino" class="btn btn-primary px-4 mx-auto mb-4 d-block"
            >Saiba mais</a
          >
          <!-- Adicionei d-block para garantir que o botão fique centralizado -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Class End -->

<!-- Testimonial Start -->
<div class="container-fluid py-5">
  <div class="container p-0">
    <div class="text-center pb-2">
      <p class="section-title px-5">
        <span class="px-2">Feedbacks</span>
      </p>
      <h1 class="mb-4">O que os pais falam?</h1>
    </div>
    <div class="owl-carousel testimonial-carousel">
      <div class="testimonial-item px-3">
        <div class="bg-light shadow-sm rounded mb-4 p-4">
          <h3 class="fas fa-quote-left text-primary mr-3"></h3>
          Estamos encantados com o progresso do nosso filho, a dedicação de
          vocês é incrível!
        </div>
        <div class="d-flex align-items-center">
          <img
            class="rounded-circle"
            src="img/testimonial-1.jpg"
            style="width: 70px; height: 70px"
            alt="Image"
          />
          <div class="pl-3">
            <h5>Jhoseph</h5>
            <i>Carpinteiro</i>
          </div>
        </div>
      </div>
      <div class="testimonial-item px-3">
        <div class="bg-light shadow-sm rounded mb-4 p-4">
          <h3 class="fas fa-quote-left text-primary mr-3"></h3>
          Não poderíamos estar mais felizes com o ambiente acolhedor e
          estimulante que a escola oferece.
        </div>
        <div class="d-flex align-items-center">
          <img
            class="rounded-circle"
            src="img/testimonial-2.jpg"
            style="width: 70px; height: 70px"
            alt="Image"
          />
          <div class="pl-3">
            <h5>Mirella</h5>
            <i>Cozinheira</i>
          </div>
        </div>
      </div>
      <div class="testimonial-item px-3">
        <div class="bg-light shadow-sm rounded mb-4 p-4">
          <h3 class="fas fa-quote-left text-primary mr-3"></h3>
          Vemos nosso filho crescer e aprender a cada dia, graças à equipe
          maravilhosa de educadores.
        </div>
        <div class="d-flex align-items-center">
          <img
            class="rounded-circle"
            src="img/testimonial-3.jpg"
            style="width: 70px; height: 70px"
            alt="Image"
          />
          <div class="pl-3">
            <h5>Washington</h5>
            <i>Vereador</i>
          </div>
        </div>
      </div>
      <div class="testimonial-item px-3">
        <div class="bg-light shadow-sm rounded mb-4 p-4">
          <h3 class="fas fa-quote-left text-primary mr-3"></h3>
          A escola superou todas as nossas expectativas com o cuidado e a
          qualidade do ensino.
        </div>
        <div class="d-flex align-items-center">
          <img
            class="rounded-circle"
            src="img/testimonial-4.jpg"
            style="width: 70px; height: 70px"
            alt="Image"
          />
          <div class="pl-3">
            <h5>Eduardo</h5>
            <i>Vendedor</i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Testimonial End -->
