<!-- Header Start -->
<div class="container-fluid bg-primary mb-5">
  <div
    class="d-flex flex-column align-items-center justify-content-center"
    style="min-height: 400px"
  >
    <h3 class="display-3 font-weight-bold text-white">Sobre nós</h3>
    <div class="d-inline-flex text-white">
      <p class="m-0"><a class="text-white" href="/">Home</a></p>
      <p class="m-0 px-2">/</p>
      <p class="m-0">Sobre nós</p>
    </div>
  </div>
</div>
<!-- Header End -->

<!-- About Start -->
<div class="container-fluid py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <img
          class="img-fluid rounded mb-5 mb-lg-0"
          src="img/image.png"
          alt="crianças estudando e uma menina olhando"
        />
      </div>
      <div class="col-lg-7">
        <p class="section-title pr-5">
          <span class="pr-2" id="leia">Leia sobre nós</span>
        </p>
        <h1 class="mb-4">Top 2 entre as melhores escolas da região Sudeste</h1>
        <p>
          A escola é excelente porque oferece um ambiente estimulante e seguro,
          promovendo o desenvolvimento integral das crianças. Nossas instalações
          são projetadas para incentivar a curiosidade e a criatividade, com
          salas de aula bem equipadas e espaços ao ar livre para atividades.
        </p>
        <p>
          Além disso, nosso corpo docente é altamente qualificado e dedicado,
          proporcionando um ensino personalizado que atende às necessidades de
          cada aluno. As atividades educativas vão além do currículo
          tradicional, incluindo projetos de arte, ciências, esportes e cultura,
          que enriquecem a formação e despertam novas paixões.
        </p>
        <p>
          Valorizamos a educação socioemocional, promovendo o respeito, a
          empatia e a colaboração entre os alunos.
        </p>
        <div class="row pt-2 pb-4">
          <div class="col-6 col-md-4">
            <img
              class="img-fluid rounded"
              src="img/about-2.jpg"
              alt="duas meninas escrevendo em uma folha"
            />
          </div>
          <div class="col-6 col-md-8">
            <ul class="list-inline m-0">
              <li class="py-2 border-top border-bottom">
                <i class="fa fa-check text-primary mr-3"></i>Ambiente seguro e
                acolhedor.
              </li>
              <li class="py-2 border-bottom">
                <i class="fa fa-check text-primary mr-3"></i>Atividades
                educativas e enriquecedoras.
              </li>
              <li class="py-2 border-bottom">
                <i class="fa fa-check text-primary mr-3"></i>Desenvolvimento
                integral das crianças.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->

<!-- Facilities Start -->
<div class="container-fluid pt-5">
  <div class="container pb-3">
    <div class="row">
      <div class="col-lg-4 col-md-6 pb-1">
        <div
          class="d-flex bg-light shadow-sm border-top rounded mb-4"
          style="padding: 30px"
        >
          <i
            class="flaticon-050-fence h1 font-weight-normal text-primary mb-3"
          ></i>
          <div class="pl-4">
            <h4>Brinquedos</h4>
            <p class="m-0">
              Área de brinquedos: segura e divertida, estimula o desenvolvimento
              infantil.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pb-1">
        <div
          class="d-flex bg-light shadow-sm border-top rounded mb-4"
          style="padding: 30px"
        >
          <i
            class="flaticon-022-drum h1 font-weight-normal text-primary mb-3"
          ></i>
          <div class="pl-4">
            <h4>Música e dança</h4>
            <p class="m-0">
              Música e dança: atividades que estimulam a expressão e a
              coordenação das crianças.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pb-1">
        <div
          class="d-flex bg-light shadow-sm border-top rounded mb-4"
          style="padding: 30px"
        >
          <i
            class="flaticon-030-crayons h1 font-weight-normal text-primary mb-3"
          ></i>
          <div class="pl-4">
            <h4>Arte</h4>
            <p class="m-0">
              Arte: espaço criativo que desenvolve a expressão e imaginação das
              crianças.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pb-1">
        <div
          class="d-flex bg-light shadow-sm border-top rounded mb-4"
          style="padding: 30px"
        >
          <i
            class="flaticon-017-toy-car h1 font-weight-normal text-primary mb-3"
          ></i>
          <div class="pl-4">
            <h4>Transporte seguro</h4>
            <p class="m-0">
              Transporte seguro: garante a proteção e o conforto durante o
              deslocamento.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pb-1">
        <div
          class="d-flex bg-light shadow-sm border-top rounded mb-4"
          style="padding: 30px"
        >
          <i
            class="flaticon-025-sandwich h1 font-weight-normal text-primary mb-3"
          ></i>
          <div class="pl-4">
            <h4>Comidas saudáveis</h4>
            <p class="m-0">
              Comida saudável: oferece nutrição equilibrada para o bem-estar das
              crianças.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pb-1">
        <div
          class="d-flex bg-light shadow-sm border-top rounded mb-4"
          style="padding: 30px"
        >
          <i
            class="flaticon-047-backpack h1 font-weight-normal text-primary mb-3"
          ></i>
          <div class="pl-4">
            <h4>Viagens educacionais</h4>
            <p class="m-0">
              Viagens educacionais: enriquecem o aprendizado com experiências
              culturais.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Facilities Start -->
