<div class="p-4">
  <h1>Alunos</h1>

  <table class="mt-4 table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Ativo</th>
        <th>Média (0, 10)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Aluno1</td>
        <td>aluno@aluno.com</td>
        <td>Ativo</td>
        <td>9,9</td>
      </tr>
    </tbody>
  </table>
</div>
