<script src="/js/seeds/listar.js"></script>
<div class="p-4">
  <h3><%= disciplinaInfo.disciplina_nome %></h3>
 

  <hr />
  <div class="flex">
   
    <a href="#" class="btn btn-info">Registrar Presença</a>
  </div>
  <hr />
  
</div>
