<div class="flex" class="p-4">
  <h3><%=listaDisciplinas[0].disciplina_nome %></h3>
  <p>Turma: <%= listaSeries[listaDisciplinas[0].serie_id -1].serie_nome %></p>
  <p>
    Alunos: <%= listaSeries[listaDisciplinas[0].serie_id
    -1].serie_quantidadeAluno %>
  </p>

  <hr />
  <a
    href="/seeds/professor/disciplina/:turmaId/:serieId/novaAtividade"
    class="btn btn-primary"
    >Cadastrar Nova atividade</a
  >
</div>
