<div class="p-4">
  <h1>Alunos</h1>

  <table class="mt-4 table table-striped">
    <thead>
      <tr>
        <th>Disciplina</th>
        <th>Série</th>
        <th>Turma</th>
      </tr>
    </thead>
    <tbody>
      <!-- Desenvolver um for com as turmas -->
      <tr>
        <td>Matemática</td>
        <td>5ª série</td>
        <td>A</td>
      </tr>
      <tr>
        <td>Matemática</td>
        <td>5ª série</td>
        <td>B</td>
      </tr>
      <tr>
        <td>Matemática</td>
        <td>6ª série</td>
        <td>A</td>
      </tr>
    </tbody>
  </table>
</div>
