<div class="container mt-4">
    <h2 class="mb-4">Meus Professores</h2>
    
    <% if (professoresDisciplinas && professoresDisciplinas.length > 0) { %>
        <div class="row">
            <% for (let i = 0; i < professoresDisciplinas.length; i++) { %>
                <% let professor = professoresDisciplinas[i]; %>
                <div class="col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="card-header bg-primary text-white">
                            <h5><%= professor.professor_nome %></h5>
                        </div>
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">Disciplinas:</h6>
                            <ul class="list-group list-group-flush">
                                <% for (let j = 0; j < professor.disciplinas.length; j++) { %>
                                    <% let disciplina = professor.disciplinas[j]; %>
                                    <li class="list-group-item">
                                        <i class="fas fa-book mr-2"></i>
                                        <%= disciplina.disciplina_nome %>
                                    </li>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    <% } else { %>
        <p>Nenhum professor encontrado...</p>
            
        
    <% } %>
</div>