<script src="/js/seeds/series.js"></script>
;

<div class="p-4">
  <h1>Turmas</h1>

  <table class="mt-4 table table-striped table-hover">
    <thead>
      <tr>
        <th>Disciplina</th>
        <th>Série</th>
      </tr>
    </thead>
    <tbody>
      <!-- Desenvolver um for com as turmas -->
      <% for(let i = 0; i< listaDisciplinas.length; i ++) { %>
      <tr
        class="disciplina-row"
        data-disciplina_id="<%= listaDisciplinas[i].disciplina_id %>"
        data-serie_id="<%= listaDisciplinas[i].serie_id %>"
        style="cursor: pointer"
      >
        <td class="cursor-pointer">
          <%= listaDisciplinas[i].disciplina_nome %>
        </td>
        <td><%= listaSeries[listaDisciplinas[i].serie_id - 1].serie_nome%></td>
      </tr>
      <%} %>
    </tbody>
  </table>
</div>
